<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./headerSeller'); %>
    </head>
<body class="container">
<main>
<div class="text-center">
  <h2>Dashboard Seller</h2>
</div>

<div class="container mt-5">
  <div class="judul-produk" style="background-color: #cf66ff; padding: 5px 10px;">
      <h5 class="text-center" style="margin-top: 5px; color: rgb(0, 0, 0);">Your Products</h5>
      <div class="row">
        <div class="col-lg-2 col-md-2 com-sm-4 col-6 mt-3">
            <div id="500" class="card text-center productList">
              <!-- Product Cards di inject disini pake cart.js-->
            </div>
          </div>
          <div class="col-lg-2 col-md-2 com-sm-4 col-6 mt-3">
              <div id="501" class="card text-center productList">
                <!-- Product Cards di inject disini pake cart.js-->
              </div>
          </div>
          <div class="col-lg-2 col-md-2 com-sm-4 col-6 mt-3">
            <div id="501" class="card text-center productList">
              <!-- Product Cards di inject disini pake cart.js-->
            </div>
        </div>          <div class="col-lg-2 col-md-2 com-sm-4 col-6 mt-3">
          <div id="501" class="card text-center productList">
            <!-- Product Cards di inject disini pake cart.js-->
          </div>
      </div>          <div class="col-lg-2 col-md-2 com-sm-4 col-6 mt-3">
        <div id="501" class="card text-center productList">
          <!-- Product Cards di inject disini pake cart.js-->
        </div>
    </div>          <div class="col-lg-2 col-md-2 com-sm-4 col-6 mt-3">
      <div id="501" class="card text-center productList">
        <!-- Product Cards di inject disini pake cart.js-->
      </div>
  </div>          <div class="col-lg-2 col-md-2 com-sm-4 col-6 mt-3">
    <div id="501" class="card text-center productList">
      <!-- Product Cards di inject disini pake cart.js-->
    </div>
</div>
</main>



<footer>
  <p class="text-center text-muted">© Copyright 2021 | Shendy-Verli |The Awesome People</p>
</footer>

</body>
</html>