<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./headerSeller'); %>
    </head>
<body class="container">
<main>
<div class="text-center">
  <h2>Wellcome Seller <%= data.firstName + ' ' + data.lastName %></h2>
</div>

</main>



<footer>
  <p class="text-center text-muted">© Copyright 2021 | Shendy-Verli |The Awesome People</p>
</footer>

</body>
</html>