<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div class="content">
    <div class="textBox">
        <h2>WELCOME TO <br><span>LAJUBEDA</span><br></h2>
        <h3><br>When you feel you need to support your vital organ,<br><span>LAJUBEDA</span><br>can be all your answer to your needs for your protection.</h3>
    </div>
    
    <form class="login-form">
        <p id="checkerpsw"></p>
        <h1>Login</h1>
        <div class="textb">
            <div class="placeholder">Username</div>
        <input id="username" type="text" required>
        </div>

    <div class="textb">
        <div class="placeholder">Password</div>
      <input id="password" type="password" required>
      <div class="show-password fas fa-eye-slash"></div>
    </div>

    <div class="checkbox">
      <input type="checkbox">
      Stay signed in
      <div class="fas fa-check"></div>
    </div>

    <button id="loginButton" class="btn fas fa-arrow-right">Login</button>
    <a href="#">Can't Sign in?</a>
    <a href="#">Create Account</a>
  </form>
</html>