<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

<main>
    <div class="jumbotron">
        <h3>Lapak Jual Beli Daleman</h3>
        <p>Welcome to LAJUBEDA</p>
    </div>
</main>

<footer>
    <%- include('../partials/footer'); %>
</footer>

</body>
</html>