<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
</head>
<body>
    <h2>WELCOME TO <br><span>LAJUBEDA</span><br></h2>
    <h3><br>When you feel you need to support your vital organ,<br><span>LAJUBEDA</span><br>can be all your answer to your needs for your protection.</h3>
    <h3>Login</h3>
    <form action="/login" method="post">
      <label for="">Username</label><br>
      <input type="text" name="username"><br><br>
      <label for="">Password</label><br>
      <input type="password" name="password"><br><br>
      <input type="checkbox">
      <label for="">Stay Signed In?</label><br><br>
      <input type="submit" value="Login">
      <button style="background-color: aqua;"><a href="/register">Create Account</a></button>
  </form>
</html>